<div class="w-full bg-[#003A70] p-6 flex flex-col items-center justify-center">
    <div>
        <img src="../../../assets/images/contpaqi.png" alt="">
    </div>
    <div class="max-w-[44vw] mt-6">
        <p class="text-white">
            PRACOFI® se ha caracterizado por mantenerse siempre vigente en el mercado, innovando de manera constante el desarrollo de sus procesos, servicios y sobre todo ofreciendo un mundo de soluciones contables y tecnológicas. Por eso te ofrecemos asesorías personalizadas en los siguientes apartados de CONTPAQi.
        </p>
    </div>
    <div class="mt-6">
        <img src="../../../assets/images/cont.png" alt="">
    </div>
</div>
