<!-- component -->
<header class="md:header sticky top-0 bg-white shadow-md md:flex md:items-center md:justify-between md:px-8 md:py-02">
    <h1 class="md:w-3/12 md:p-2">
        <img src="../../../assets/images/pracofi.png" alt="" class="md:w-40">
    </h1>
    <nav class="md:nav md:font-semibold md:text-lg">
        <ul class="flex items-center">
            <li class="md:p-4 md:border-b-2 md:border-blue-500 md:border-opacity-0 md:hover:border-opacity-100 md:hover:text-blue-500 md:duration-200 md:cursor-pointer md:active">
              <a href="">Inicio</a>
            </li>
            <li class="p-4 border-b-2 border-blue-500 border-opacity-0 hover:border-opacity-100 hover:text-blue-500 duration-200 cursor-pointer">
              <a href="">Nosotros</a>
            </li>
            <li class="p-4 border-b-2 border-blue-500 border-opacity-0 hover:border-opacity-100 hover:text-blue-500 duration-200 cursor-pointer">
              <a href="">Servicios</a>
            </li>
            <li class="p-4 border-b-2 border-blue-500 border-opacity-0 hover:border-opacity-100 hover:text-blue-500 duration-200 cursor-pointer">
              <a href="">Noticias</a>
            </li>
            <li class="p-4 border-b-2 border-blue-500 border-opacity-0 hover:border-opacity-100 hover:text-blue-500 duration-200 cursor-pointer">
              <a href="">Contacto</a>
            </li>
        </ul>
    </nav>
    <!-- buttons --->
    <div class="w-3/12 flex justify-end">
        <button class="bg-white p-2 rounded-lg font-bold text-black w-40 hover:bg-blue-600 hover:text-white duration-200">
            Iniciar Sesion
        </button>
    </div>
</header>